[Unit]
Description=Download Raindrop Favicons every minute
Requires=download-raindrop-favicons.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s

[Install]
WantedBy=timers.target
