[Unit]
Description=Update Raindrop Cache every 30 seconds
Requires=update-raindrop-cache.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=1s

[Install]
WantedBy=timers.target
